@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
/* General */

.container {
    max-width: 1120px;
}

/* ESTILOS DEL HOME*/  
.container-fluid {
	font-size:17px;
	color:#777777;
	line-height:1.8em;
	font-weight:200;
	-webkit-font-smoothing: antialiased;
	font-family: 'Roboto', sans-serif;
}

.fondo-negro{
    background: #3B3D3F;
    padding: 85px 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    text-align: center;    
    color: #63BC76;  
    height: 402px;

   
}

.fondo-negrito{
    background: #3B3D3F;
    padding: 85px 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    text-align: center;    
    color: #63BC76; 
}

.rectangulo {
    width: 100%;
    height: 30px;
    background: rgba(120, 102, 102, 0.5);
    border-radius: 3px;
    margin-bottom: 40px;
    border-radius: 0;
}

.boton {
    width: 62px;
    height: 28px;
    background: #3B3D3F;
    border-radius: 3px;
    margin-bottom: 17px;
    border-radius: 0;
    margin-left: 112px;
    /* margin: 15px; */
    color: #FFFFFF;
    margin-top: 20px;
}


.dowload{
    width: 1300px;
    /* height: 15px; */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    /* line-height: 31px; */
    color: #FFFFFF;
}

.filtro1{
    left: 0%;
right: 8.99%;
top: 0%;
bottom: 93.76%;

font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 16px;
line-height: 31px;
/* or 194% */

text-transform: uppercase;

color: #63BC76;
}

.filtro2{
    left: 8.63%;
right: 27.34%;
top: 10.11%;
bottom: 86.45%;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 30px;

color: #AFAFAF;
}

.filtro3{
    left: 14.03%;
right: 17.27%;
top: 16.77%;
bottom: 75.48%;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;

color: #3B3D3F;


}

.d-flex{
    width: 515px;
    margin: auto;
    background: #F4F0F0;
    border-radius: 4px;
}

.submenu {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    /* text-transform: uppercase; */
    color: #63BC76;
}

.resultado {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 25px;
    color: #FFFFFF;
    font-weight: bold;
    line-height: 35px;
}

.contenedorcuadrado{
    position: relative;
    top: -150px;
}

.fondo-negro .container{
    max-width: 920px;
}

.fondo-verde{
    padding:  15vh 0;
    background: #000000;
}

.fondo-explora1{
    padding:  6vh 0;
    background: white;
}

.fondo-blanco{    
    padding: 15vh 0;     
    background: #777777;
    margin: 70px;
}

.fondo-verde3{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    text-align: center;  
}

.cuadrado{
    background: #63BC76;
    padding: 85px 0;
    margin-bottom: 15px;
    width: 100%;
    height: 250.48px;
    left: -235px;
    top: 591px;
    color: white;
    text-align: center;   
}

.cuadrado2{
    background: #63BC76;
    padding: 85px 0;;
    margin-bottom: 15px;   
    left: -235px;
    top: 591px;
    color: black;
    text-align: center; 
    width: 280.6px;
    height: 250.48px;  
}

.cuadrado3{
    background: #63BC76;
    padding: 85px 0;;
    margin-bottom: 15px;    
    height: 250.48px;
    left: -235px;
    top: 591px;
    color: white;
    text-align: center;   
}


.textos{
    width: 185px;
height: 73px;
left: -211px;
top: 746px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 20px;
margin-top: 50px;
color: #FFFFFF;
}

.cabecera {
    color: #63BC76;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    width: 208px;
    height: 83px;
    left: -393px;
    top: 308px;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
}
.circulo2{
        width: 73px;
        height: 74px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background: #5cb85c;
        left: 190px;
        top: 1421px;      
       
}

.circulo{
        width: 94px;
        height: 54px;
        height: 101px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background: #5cb85c;      

}

.textito{
    width: 344px;
height: 38px;
left: 283px;
top: 1433px;
padding: 15px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
margin: 35px;
color: #2B8C1B;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
    font-weight: bold;
}


.texto-verde{
    text-align: justify;
    padding: 85px 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    /* or 172% */
    color: #2B8C1B;
   
    
}

.boton-plomo{
    text-align: justify;
    padding: 33px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    /* or 172% */
    color: #2B8C1B;
   
    
}

.listado{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #2B8C1B;
}

.parrafo{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    text-transform: none
    /* or 172% */
    text-align: center;
    color: #F3F4F2;
}

.parrafo-dos{
    width: 960px;
    height: 129px;
    left: -266px;
    top: 2175px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 31px;
    padding: 50px;
    /* or 103% */
    text-align: center;
    color: #2B8C1B;
}

.texto{
    width: 223px;
    height: 73px;
    left: -211px;
    top: 746px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    padding: 40px;
    margin: 15px;   
    color: #FFFFFF;
}

.rectangulo1{
    width: 100%;
    height: 35px;
    background: #4F4646;   
    text-align: center;
    color: white;
    padding: 5px; 
    float: right;
    border-radius: 0;
}

.actor{  
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    line-height: 31px;
    text-align: center;
    color: #000000;
}

.descripcion {
    height: 31px;
    color: #2B8C1B;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    /* line-height: 31px; */
}

.descripcion1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    /* line-height: 31px; */
    padding-right: 13px;
    color: #3B3D3F;
}

.descripcion2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    /* line-height: 31px; */
    padding-right: 83px;
    color: #3B3D3F;
}

.descripcion3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    /* line-height: 31px; */
    /* padding-right: 43px; */
    color: #3B3D3F;
    padding-top: -6px;
}



.rectangulo2{
    width: 242px;
    height: 35px;    
    padding: 5px;
    background: #6C5D5D;
    text-align: center;
    color: white;
    float: inherit;    
}

.rectangulo3{
    width: 242px;
    height: 35px;    
    padding: 5px;
    background: #6C5D5D;
    text-align: center;
    color: white;
    float:right; 
    background: #63BC76;
    border-radius: 6px;   
}

.fondo-negro2{    
    padding: 15vh 0;     
    background: #777777;
}


.texto2{
    font-family: Roboto;
    text-align: center;    
    font-size: 17px;
    /* or 103% */    
    color: #7B807B;
}

.centrado .rectangulo4{
    width: 270px;
    height: 35px;
    background: #63BC76; 
    text-align: center;
    color: white;
    padding: 5px; 
    border-radius: 5px;
    font-size: 17px;  
}

/* ESTILOS DE FORESTALES*/  

.fondo-negro3{   
    height: 0;
    padding: 200px;     
    background: #777777;    
height: 295px;
left: -524px;
top: 3738px;
    
}

.fondo-blanco{
    background: #FFFFFF;
}

.fondo-negro4{   
    width: 1400px;
    height: 0;
    padding: 30px;     
    background:  #1F1B1B;;

}

.fondo-verde4{
    background: #3E9350;
    width: 1400px;    
    padding: 60px; 
 
}

.texto1{
    width: 348px;
    height: 62px;
    color: #FFFFFF;
}
.texto3{
    font-family: 'Roboto';
    width: 404px;
    height: 44px;   
    font-size: 14px;   
    color: #FFFFFF;
}

.textoexplora {
    padding: 30px;
    width: 311px;
    top: 734px;
    font-style: normal;
    font-size: 17px;
    color: #FFFFFF;
    padding-top: 25px;
    margin-bottom: -7px;
    padding-right: 148px;
    margin: 64px;
    padding-bottom: 30px;
}

.fondo-verde5{
    background:#317540;
    width: 1400px;    
    padding: 60px;
}

.texto4{
    font-family: 'Roboto';
    height: 44px;   
    font-size: 14px;   
    color: #FFFFFF;   
    line-height: 20px;    
    font-style: normal;
    font-weight: normal;  
    text-align: center;
    text-transform: uppercase;
    
}

.fondo-negro5{   
    padding: 30px;     
    background:  #1F1B1B;;
    width: 1477px;
    height: 740px;
}

.texto5{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    text-align: center;
    font-size: 18px;
    line-height: 31px;
    color: #3E9350;
}

.texto6{
    font-family: 'Roboto';
    height: 44px;   
    font-size: 14px;   
    color: white;   
    line-height: 20px;    
    font-style: normal;
    font-weight: normal;  
    text-align: center;
    text-transform: uppercase;
    
}

.texto8{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: white;
    text-transform: uppercase;
    font-weight: normal;
    
}

.texto9{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    text-align: center;
    font-size: 17px;
    line-height: 31px;
    color: #3E9350;
}


.fondo-blanco2{     
        padding: 30px;     
        background:  white;
        width: 1477px;
        height: 570px;
}

.menu1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;    
    font-size: 17px;
    line-height: 31px;
    color: #2B8C1B;
}

.menu2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    
    font-size: 17px;
    line-height: 31px;
    color: #3B3D3F,
}

.linea{
    width: 943px;
    height: 0px;
    border: 1px solid #000000;
}

.page{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    text-align: center;
    font-size: 17px;
    line-height: 31px;
    color:  #8D9397;
}

.fondo-negro6{   
    padding: 30px;     
    background:  #1F1B1B;;
    width: 1477px;
    height: 83px;
   
}

/* ESTILOS DE PLANESFORESTALES*/  

.fondo-verde6{   
    background: #63BC76;
    margin-left: initial;
    width: 716px;
    height: 402px;
}

.fondo-verde7{
    width: 600px;   
    background: black;
    margin-right: initial;
}

/* ESTILOS DE FILTROS*/  

.subtexto{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-transform: uppercase;
    color: #63BC76;
}

/* ESTILOS DE EXPLORAR*/  

.subfondo-verde{
    background: #63BC76;
}

.subfondo-negro{
    background: black;
}

.fondoverde{
    width: 1290px;
    height: 196px;
    background: #317540;
}

.pvector1 {
    width: 453px;
    height: 123px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    /* text-transform: uppercase; */
    color: #FFFFFF;
    margin: 65px;
}

.pvector2 {
    width: 453px;
    height: 123px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    /* text-transform: uppercase; */
    color: #FFFFFF;
    margin: 65px;
}

.fondonegro{
    width: 1290px;
height: 402px;

background: #3B3D3F;
}

.textonegro {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 17px;    
    color: #FFFFFF;    
    padding: 124px;
}  

.fondoblanco{
    width: 1477px;
    height: 227px;

background: #FFFFFF;
}

.fondoblanco2 {
    width: 1488px;
    height: 90px;
    background: #FFFFFF;
}

.textoexplora2 {
    padding: 51px;
    width: 516px;
    top: 734px;
    font-style: normal;
    font-size: 17px;
    color: #3B3D3F;
    padding-top: 25px;
    margin-bottom: -7px;
    padding-right: 148px;
    margin: 64px;
    padding-bottom: 30px;
}



.explora2{
    width: 352px;
    height: 167px;
    
}

.fondonegro2 {
    position: absolute;
    height: 69px;
    background: #000000;
}

.rectangulo2{
    width: 975px;
    height: 47px;
    background: rgba(120, 102, 102, 0.5);
border-radius: 3px;
    
}

.fondo-explora2{
    padding:  6vh 0;
    
    width: 1477px;
height: 250px;

background: #1F1B1B;
}

.departamento1{
    width: 156.59px;
height: 26px;

font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 21px;
line-height: 25px;

color: #3B3D3F;
}

.filtro{
    color: #2B8C1B;
}

.fondo-negro7{   
    padding: 35px;
    background: #1F1B1B;
    /* width: 1426px; */
    /* height: 83px; */
    MARGIN-TOP: 273px;
   
}

.circulo3 {
    width: 67px;
    height: 54px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #478955;
}

.textoexplora2 {
    width: 250px;
    font-style: normal;
    font-size: 17px;
    color: #FFFFFF;
    padding-top: 14px;
    padding-right: 130px;
    padding: 10px;
    margin-top: 28px;
}

.textoexplora3 {
    width: 1656px;
    
    margin-top: -172px;
    /* float: right; */
    /* margin-bottom: 40px; */

    font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 27px;
line-height: 32px;
text-transform: uppercase;

color: #FFFFFF;
}

.textoexplora4 {
    /* width: 1879px; */
    font-style: normal;
    font-size: 17px;
    color: #FFFFFF;
    margin-top: -121px;
    /* float: right; */
    /* margin-bottom: 40px; */
    /* text-align: center; */
    /* margin-bottom: 40px; */
    padding-left: 675px;
}

.circulo4 {
    width: 81px;
    height: 73px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.44);
    margin-left: 564px;
    /* padding-bottom: 30px; */
    /* padding: 12px; */
    /* padding-top: 20px; */
    /* padding-inline: 2px; */
    /* margin: 30px; */
    margin-top: -164px;
}

.fondo-verde8{
    background: #63BC76;
    padding: 85px 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    text-align: center;    
     
}

.textoexplora5 {
    /* position: absolute; */
    width: 446px;
    height: 59px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 17px;
    line-height: 31px;
    color: #3E9350;
    padding-left: -16px;
    margin-left: 221px;
    /* padding-bottom: 42px; */
}

.circulo5 {
    width: 67px;
    height: 54px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #024C00;
}

.circulo6 {
    width: 67px;
    height: 54px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #848484;
}

.circulo7 {
    width: 67px;
    height: 54px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #AD504A;
}

.circulo8 {
    width: 67px;
    height: 54px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #5E59C1;
}

.circulo9 {
    width: 67px;
    height: 54px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #3EC926;
}

.circulo10 {
    width: 67px;
    height: 54px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #E5D200;
}

.circulo11 {
    width: 67px;
    height: 54px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #7A00C7;
}

.circulo12 {
    width: 67px;
    height: 54px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #F34FC3;
}

.btn-dark {
    color: #fff;
    background-color: #212529;
    border-color: #212529;
    /* margin-right: 30px; */
    float: right;
}

.nombreactor{
    font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 18px;
line-height: 31px;
color: #000000;
}

.menus{
    color: black;
    /* font-weight: bold; */
    font-size: 14px;
    font-weight: 400px;
}