/* ESTILOS DEL HOME*/  
.container-fluid {
	font-size:17px;
	color:#777777;
	line-height:1.8em;
	font-weight:200;
	-webkit-font-smoothing: antialiased;
	font-family: 'Roboto', sans-serif;
}

.fondo-negro{
    background: #3B3D3F;
    padding: 15vh 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #63BC76;

}

.fondo-negro .container{
    max-width: 920px;
}

.fondo-verde{
    padding:  15vh 0;
}

.fondo-verde .cuadrado{
    background: #63BC76;
    padding: 25px;
    margin-bottom: 15px;
    width: 280.6px;
    height: 250.48px;
    left: -235px;
    top: 591px;
    color: white;
    text-align: center;
}

.cabecera{
    color:#63BC76;
}
.imagen{
    width: 448px;
    height: 495px;
    left: -323px;
    top: 1218px
}
.texto-verde{
    width: 493px;
    height: 129px;
    left: 190px;
    top: 1220px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    /* or 172% */
    color: #2B8C1B;
    padding-left: 190px;
    
}
.listado{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #2B8C1B;
}

.parrafo{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 31px;
    /* or 172% */
    text-align: center;
    color: #F3F4F2;
}

.parrafo-dos{
    width: 960px;
    height: 129px;
    left: -266px;
    top: 2175px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 31px;
    padding: 50px;
    /* or 103% */
    text-align: center;
    color: #2B8C1B;
}

.texto{
    width: 223px;
    height: 73px;
    left: -211px;
    top: 746px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    padding: 40px;
    margin: 15px;   
    color: #FFFFFF;
}

.rectangulo1{
    width: 242px;
    height: 35px;
    background: #4F4646;   
    text-align: center;
    color: white;
    padding: 5px; 
    float: right;   
}

.rectangulo2{
    width: 242px;
    height: 35px;    
    padding: 5px;
    background: #6C5D5D;
    text-align: center;
    color: white;
    float: inherit;    
}

.rectangulo3{
    width: 242px;
    height: 35px;    
    padding: 5px;
    background: #6C5D5D;
    text-align: center;
    color: white;
    float:right; 
    background: #63BC76;
    border-radius: 6px;   
}

.fondo-negro2{    
    padding: 15vh 0;     
    background: #777777;
}

.texto2{
    font-family: Roboto;
    text-align: center;    
    font-size: 17px;
    /* or 103% */    
    color: #7B807B;
}

.centrado .rectangulo4{
    width: 270px;
    height: 35px;
    background: #63BC76; 
    text-align: center;
    color: white;
    padding: 5px; 
    border-radius: 5px;
    font-size: 17px;  
}

/* ESTILOS DE FORESTALES*/  

.fondo-negro3{   
    width: 1400px;
    height: 0;
    padding: 30px;     
    background: #777777;
    margin-bottom: 50px;
}

.fondo-blanco{
    background: #FFFFFF;
}

.fondo-negro4{   
    width: 1400px;
    height: 0;
    padding: 30px;     
    background:  #1F1B1B;;

}

.fondo-verde4{
    background: #3E9350;
    width: 1400px;    
    padding: 60px; 
 
}

.texto1{
    width: 348px;
    height: 62px;
    color: #FFFFFF;
}
.texto3{
    font-family: 'Roboto';
    width: 404px;
    height: 44px;   
    font-size: 14px;   
    color: #FFFFFF;
}

.fondo-verde5{
    background:#317540;
    width: 1400px;    
    padding: 60px;
}

.texto4{
    font-family: 'Roboto';
    height: 44px;   
    font-size: 14px;   
    color: #FFFFFF;   
    line-height: 20px;    
    font-style: normal;
    font-weight: normal;  
    text-align: center;
    text-transform: uppercase;
    
}

.fondo-negro5{   
    padding: 30px;     
    background:  #1F1B1B;;
    width: 1477px;
    height: 740px;
}

.texto5{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    text-align: center;
    font-size: 18px;
    line-height: 31px;
    color: #3E9350;
}

.texto6{
    font-family: 'Roboto';
    height: 44px;   
    font-size: 14px;   
    color: white;   
    line-height: 20px;    
    font-style: normal;
    font-weight: normal;  
    text-align: center;
    text-transform: uppercase;
    
}

.texto8{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: white;
    text-transform: uppercase;
    font-weight: normal;
    
}

.texto9{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    text-align: center;
    font-size: 17px;
    line-height: 31px;
    color: #3E9350;
}


.fondo-blanco2{     
        padding: 30px;     
        background:  white;
        width: 1477px;
        height: 570px;
}

.menu1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;    
    font-size: 17px;
    line-height: 31px;
    color: #2B8C1B;
}

.menu2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    
    font-size: 17px;
    line-height: 31px;
    color: #3B3D3F,
}

.linea{
    width: 943px;
    height: 0px;
    border: 1px solid #000000;
}

.page{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    text-align: center;
    font-size: 17px;
    line-height: 31px;
    color:  #8D9397;
}

.fondo-negro6{   
    padding: 30px;     
    background:  #1F1B1B;;
    width: 1477px;
    height: 83px;
   
}